@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#modeloNovoProduto{
    display: none;
}
#menuCelular{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 70px;
    align-items: center;
}
#logo{
    font-size: 40px;
    font-weight: 800;
    color: white;
}
header nav{
    display: flex;
    gap: 30px;
}
.headerLink{
    text-decoration: none;
    color: #00AB59;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    transition: .5s;
}
.headerLink:hover{
    background:#00AB59;
    color: white;
}
#contatoWpp{
    background: #0EFF8B;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.logoWpp{
    width: 25px;
    padding: 3px;
    border-radius: 20px;
    background:#00AB59;
}
.paragrafoWpp{
    color: white;
    font-weight: 600;
}
#banner{
    width: 100%;
    height: 350px;
    background: #00AB59;
}
main{
    background: #EBEBEB;
    padding-bottom: 100px;
}
.sectionProdutos{
    margin-top: 80px;
    text-align: center;
    padding: 0 20px;
}
.tituloSection{
    color:#00AB59;
    font-size: 30px;
    margin-bottom: 30px;
}
.fileira{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.fileira--elemento{
    width: 200px;
    background: white;
    border-radius: 5px;
    border-bottom: 4px solid #93FFCB;
    cursor: pointer;
}
.imagemProduto{
    width: 100%;
    transition: .5s;
}
.nomeProduto{
    font-size: 20px;
    color: #383838; 
}
.precoProduto{
    font-size: 24px;
}
#localizacao{
    margin-top: 150px;
}
#tituloLocalizacao{
    color: #00AB59;
    font-size: 30px;
}
#paragrafoLocalizacao{
    margin-top: 20px;
}
#imgLocalizacao{
    margin-top: 30px;
    width: 300px;
}
footer{
    background: #00AB59;
}
footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 70px;
    background: #00AB59;
    text-decoration: none;
    gap: 10px;
}
#modeloProdutoEscolhido{
    display: none;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    position: fixed;
    top: 60px;
    gap: 100px;
    border-radius: 5px;
    left: 25%;
    width: 50%;
}
#imgEscolhida{
    width: 300px;
    background: rgb(230, 230, 230);
    border-radius: 5px;
    height: 500px;
    width: 500px;
}
#imgEscolhida img{
    width: 100%;
}
#textosEscolhido{
    text-align: center;
}
#fecharEscolhido{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    font-weight: 600;
    color: white;
    background:#0EFF8B;
    padding: 0px 9px;
    border-radius: 50px;
    cursor: pointer;
}
#nomeEscolhido{
    font-size: 40px;
    font-weight: 600;
    margin-top: -80px;
}
#precoEscolhido{
    font-size: 40px;
    font-weight: 0;
}
#btnEscolhido{
    background:#0EFF8B;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
@media(max-width: 768px){
    #menuCelular{
        display: block;
    }
    header nav{
        display: block;
        height: 0px;
        overflow: hidden;
        transition: 1s;
        background:#0EFF8B;
        position: absolute;
        top: 70px;
        left: 0px;
        width: 100%;
    }
    .headerLink{
        display: block;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid rgb(192, 192, 192);
    }
    #menuCelular{
        width: 30px;
        height: 3px; 
        background:#00AB59;
        position: absolute;
        right: 20px;
        top: 25px;
        transition: .5s;
    }
    #menuCelular::before{
        content: '';
        display: block;
        margin-top: 9px;
        width: 30px;
        height: 3px; 
        background:#00AB59;
        transition: .5s;
    }
    #menuCelular::after{
        content: '';
        display: block;
        margin-top: 8px;
        width: 30px;
        height: 3px; 
        transition: .5s;
        background:#00AB59;
    }
    header.ativouMenu nav{
        height: 144px;
    }
    header.ativouMenu #menuCelular{
        transform: rotate(45deg);
        margin-top: 10px;
    }
    header.ativouMenu #menuCelular::after{
        transform: rotate(-90deg);
        margin-top: -11px;
    }
    header.ativouMenu #menuCelular::before{
        width: 0px;
    }
    .tituloSection{
        font-size: 26px;
    }
    #tituloLocalizacao{
        font-size: 26px;
    }
    #paragrafoLocalizacao{
        font-size: 18px;
    }
    #modeloProdutoEscolhido{
        gap: 50px;
        left: 0%;
        width: 95%;
        height: 100%;
        top: 0px;
        z-index: 1000;
        flex-direction: column;
    }
    #imgEscolhida{
        width: 500px;
        height: 500px;
    }
    #nomeEscolhido{
        font-size: 30px;
        margin-top: -40px;
    }
    #precoEscolhido{
        font-size: 30px;
    }
    #btnEscolhido{
        padding: 10px 160px;
        line-height: 13px;
        font-size: 20px;
    }
}
@media(max-width: 425px){
    #tituloLocalizacao{
        font-size: 24px;
    }
    #paragrafoLocalizacao{
        font-size: 14px;
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
    #imgLocalizacao{
        margin-top: 40px;
    }
    #modeloProdutoEscolhido{
        padding: 20px 0px;
        gap: 80px;
        left: 0;
        width: 100%;
    }
    #imgEscolhida{
        margin-top: 50px;
        height: 300px;
        width: 300px;
    }
    #imgEscolhida img{
        width: 100%;
    }
    #nomeEscolhido{
        font-size: 24px;
    }
    #precoEscolhido{
        font-size: 24px;
    }
    #btnEscolhido{
        padding: 10px 75px;
        font-size: 16px;
    }
}
@media(max-width: 375px){
    .fileira{
        flex-wrap: nowrap;
        overflow: auto;
    }
    .sectionProdutos{
        overflow-x: auto;
        margin: 100px 0;
    }
    .tituloSection{
        position: absolute;
        transform: translateY(-50px);
    }
    #modeloProdutoEscolhido{
        padding: 20px;
        gap: 80px;
        left: 0;
        width: 90%;
        height: 95%;
        z-index: 1000;
    }
    #imgEscolhida{
        margin-top: 0px;
        height: 250px;
        width: 250px;
    }
    #precoEscolhido{
        font-size: 24px;
    }
    #btnEscolhido{
        padding: 10px 50px;
        font-size: 16px;
    }
}
@media(max-width: 320px){
    footer a{
        font-size: 12px;
    }
    .logoWpp{
        width: 20px;
    }
    #localizacao{
        overflow: hidden;
    }
    #modeloProdutoEscolhido{
        height: 95%;
    }
}